// Fonts
$font-main:          Arial, Helvetica, sans-serif;
$oswald:             'Oswald', sans-serif;
$default-weight:     bold;

// Colors
$white:             #fff;
$black:             #000;
$dkOrange:          #e34e33;
$ltGray:            #9f9f9f;
$mdGray:            #464646;
$dkGray:            #1d1d1d;
$border:            #282828;
$turq:              #67d9da;
$dkRed:             #941b1e;

// Nav Color
$navBg:             rgba(0, 0, 0, 0.8);
$scrollBg:          #d3442f;
$twtGray:           #e4e4e4;

// Slider Colors
$heroRed:           #d90e0a;
$escOrange:         #f68f1e;
$ultraBlue:         #2162bc;